.DS_Store
/node_modules
/dist

# local env files
.env.local
.env.*.local

 # Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
.sln
.sw?

# Docker override file
docker-compose.override.yml

# Environment variables file
.env

# Python specific ignores
*.pyc
__pycache__/
/backend/venv/

# Uploads directory for user-generated content
/uploads/

# Specific temporary files (like screenshots)
Captura de pantalla_*.png

frontend/.vite/
